.main {
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px;
}

    .main .header {
        width: 100%;
        height: 50px;
        background-color: #0973b9;
    }

    .main .content {
        padding: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 70px);
        position: relative;
    }

.content .page-content h1 {
    font-size: 20px;
    margin: 5px 0;
}

.content .content-body {
    position: absolute;
    top: 55px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #ccc;
}

.content-body .toolbar {
    width: 100%;
    height: 26px;
    background-image: linear-gradient(rgb(250 250 250 / 1), rgb(230 230 230 / 1));
    display: flex;
    border-bottom: 1px solid #ccc;
}
.toolbar button {
    background: none;
    display: flex;
    border: 1px solid;
    border-color: transparent;
    cursor: pointer;
    height: 24px;
    line-height: 22px;
    margin: 1px;
    padding-right: 7px;
    outline: none;
}
.toolbar button:hover {
        background-color: #fff !important;
        border-color: #0071c1;
    }
.icon {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 0;
}
    .icon.icon-add {
        background-image: url('/content/img/images/iconsprite.png');
        background-position-y: -2512px;
    }
    .icon.icon-edit {
        background-image: url('/content/img/images/edit16.png');
        background-position: center;
        background-size: 18px;
    }
    .icon.icon-delete {
        background-image: url('/content/img/images/iconsprite.png');
        background-size: 19px;
        background-position-y: -3181px;
        margin-top: -2px;
    }
.grid table{
    border: none;
    border-collapse: collapse;
    width: 100%;
}
table th, td{
    border: 1px solid #ccc;
    padding: 4px;
}
table th{
    background-color: rgb(239, 239, 239);
    border-top: none;
}
table tr th:first-child, td:first-child {
    border-left: none;
}
table tr th:last-child,td:last-child {
    border-right: none;
}
table tr:hover {
    background-color: #b8e3ff;
    cursor: pointer;
}
.main .header{
    display: flex;
}
.header .left-header{
    height: 100%;
    width: 45%;
    background-color: #0973b9;
    align-items: center;
}
.header select {
    width: 190px;
    height: 32px;
    padding-left: 10px;
    margin-top: 9.4px;
    margin-left: 3%;
    background-color: #005082 !important;
    border: none;
    outline: none;
    color: #fff;
}
.header select option {
    background-color: #fff;
    color: #000;
}
.header .right-header {
    display: flex;
    height: 100%;
    width: 55%;
}
.right-header .right-header-language{
    width: 25%;
    height: 100%;
}
.right-header .right-header-world{
    width: 10%;
    height: 100%;
}
.right-header .right-header-answer {
    width: 20%;
    height: 100%;
}
.right-header .right-header-new{
    width: 10%;
    height: 100%;
}
.right-header .right-header-profile{
    width: 35%;
    height: 100%;
}