.main {
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px;
}

    .main .header {
        width: 100%;
        height: 50px;
        background-color: #0973b9;
        display: flex;
    }

    .main .content {
        padding: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 70px);
        position: relative;
    }

hr {
    border-top: 1px solid #ccc;
}

button {
    cursor: pointer;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-items-right {
    justify-content: flex-end !important;
}

/*Left header*/
.header .left-header {
    height: 100%;
    width: 45%;
    background-color: #0973b9;
    justify-content: left !important;
}
    /*End left header*/

    /*Right header*/
    .header .left-header select {
        margin-left: 3%;
    }

.header select {
    width: 190px;
    height: 32px;
    padding-left: 10px;
    background-color: #005082 !important;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

    .header select option {
        background-color: #fff;
        color: #000;
    }

.header .right-header {
    display: flex;
    height: 100%;
    width: 55%;
}

.right-header ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

    .right-header ul li:last-child select {
        background-color: #0973b9 !important;
        font-size: 15px;
        width: 150px;
        padding-left: 2px !important;
    }

    .right-header ul li {
        list-style-type: none;
        padding: 0 10px;
    }

li .misa-logo {
    width: 122.5px;
    height: 100%;
}

li .profile {
    background-color: #fafafa;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right-header-notifications {
    position: relative;
}

.badge {
    position: absolute;
    top: 10px;
    right: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #ff0000;
    cursor: pointer;
    text-align: center;
}

.icon-support {
    width: 62px;
    cursor: pointer;
}
/*End right header*/

/*Body content*/
.content .page-content {
    width: 100%;
    display: flex;
}

.page-content .left-page-content {
    width: 50%;
    display: flex;
}

.icon-triangle {
    position: absolute;
    font-size: 22px !important;
    color: #0973b9;
    padding-left: 10px;
    top: 17px;
    left: 102px;
}

.left-page-content a {
    color: #0973b9;
    text-decoration: none;
    padding-left: 30px;
    position: absolute;
    top: 19px;
    left: 97px;
    font-size: 16px;
}

    .left-page-content a:hover {
        text-decoration: underline;
    }

.page-content .right-page-content {
    width: 50%;
}

.right-page-content button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    /*outline: none;*/
}

    .right-page-content button:first-child {
        margin-right: 10px;
    }

    .right-page-content button:hover {
        border: 1px solid #0973b9;
    }

.btn-feedback {
    display: flex;
}

.page-content h1 {
    font-size: 20px;
    margin: 5px 0;
}

.content .content-body {
    position: absolute;
    top: 55px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #ccc;
}

.content-body .toolbar {
    width: 100%;
    height: 26px;
    background-image: linear-gradient(rgb(250 250 250 / 1), rgb(230 230 230 / 1));
    display: flex;
    border-bottom: 1px solid #ccc;
}

.toolbar button {
    background: none;
    display: flex;
    border: 1px solid;
    border-color: transparent;
    height: 24px;
    line-height: 22px;
    margin: 1px;
    padding-right: 7px;
    /*outline: none;*/
}

    .toolbar button:hover {
        background-color: #fff !important;
        border-color: #0071c1;
    }

.icon {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 0;
}

    .icon.icon-add {
        background-image: url('/content/img/images/iconsprite.png');
        background-position-y: -2512px;
    }

    .icon.icon-edit {
        background-image: url('/content/img/images/edit16.png');
        background-position: center;
        background-size: 18px;
    }

    .icon.icon-delete {
        background-image: url('/content/img/images/iconsprite.png');
        background-size: 19px;
        background-position-y: -3181px;
        margin-top: -2px;
    }

    .icon.icon-feedback {
        background-image: url('/content/img/images/viewemail.png');
        height: 15px;
        width: 15px;
    }

    .icon.icon-save {
        background-image: url('/content/img/images/iconsprite.png');
        height: 17px;
        background-position-y: -767px;
    }

    .icon.icon-cancel {
        background-image: url('/content/img/images/iconsprite.png');
        height: 17px;
        background-position-y: -1951px;
    }

    .icon.icon-close {
        background-image: url('/content/img/images/iconsprite.png');
        height: 17px;
        background-position-y: -2015px;
    }

.grid {
    height: calc(100% - 52px);
    overflow: auto;
}

/*Paging*/

.paging {
    width: 100%;
    height: 26px;
    border-top: 1px solid #ccc;
    display: flex;
}

    .paging .left-paging {
        width: 70%;
        height: 100%;
    }

.left-paging ul {
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
}

    .left-paging ul li {
        list-style-type: none;
        line-height: 23px;
        padding: 0 5px;
    }

        .left-paging ul li span {
            color: #ccc;
            margin-top: -5px;
        }

        .left-paging ul li input {
            width: 25px;
            height: 12px;
            margin-top: -2px;
        }

        .left-paging ul li select {
            outline: none;
            height: 22px;
            width: 45px;
            margin-top: -2px;
            border: 1px solid #ccc;
        }

        .left-paging ul li button {
            width: 26px;
            height: 26px;
            border: none;
            outline: none;
        }

.btn-page {
    background: none;
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-size: 16px;
}

.btn-page-first {
    background-image: url('/content/img/images/grid/page-first.png');
}

.btn-page-last {
    background-image: url('/content/img/images/grid/page-last.png');
}

.btn-page-prev {
    background-image: url('/content/img/images/grid/page-prev.png');
}

.btn-page-next {
    margin-left: 10px;
    background-image: url('/content/img/images/grid/page-next.png');
}

.btn-page-refresh {
    background-image: url('/content/img/images/grid/refresh.png');
}

.paging .right-paging {
    width: 30%;
    height: 100%;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
/*Eng paging*/
/*End body content*/

