.main {
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px;
}

    .main .header {
        width: 100%;
        height: 50px;
        background-color: #0973b9;
    }

    .main .content {
        padding: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 70px);
        position: relative;
    }

button {
    cursor: pointer;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-items-right {
    justify-content: flex-end !important;
}

/*Body content*/
.content .page-content {
    width: 100%;
    display: flex;
}

.page-content .left-page-content {
    width: 50%;
    display: flex;
}

.icon-triangle {
    position: absolute;
    font-size: 22px !important;
    color: #0973b9;
    padding-left: 10px;
    top: 17px;
    left: 102px;
}

.left-page-content a {
    color: #0973b9;
    text-decoration: none;
    padding-left: 30px;
    position: absolute;
    top: 19px;
    left: 97px;
    font-size: 16px;
}

    .left-page-content a:hover {
        text-decoration: underline;
    }

.page-content .right-page-content {
    width: 50%;
}

.right-page-content button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
}

    .right-page-content button:first-child {
        margin-right: 10px;
    }

    .right-page-content button:hover {
        border: 1px solid #0973b9;
    }

.btn-feedback {
    display: flex;
}

.page-content h1 {
    font-size: 20px;
    margin: 5px 0;
}

.content .content-body {
    position: absolute;
    top: 55px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #ccc;
}

.content-body .toolbar {
    width: 100%;
    height: 26px;
    background-image: linear-gradient(rgb(250 250 250 / 1), rgb(230 230 230 / 1));
    display: flex;
    border-bottom: 1px solid #ccc;
}

.toolbar button {
    background: none;
    display: flex;
    border: 1px solid;
    border-color: transparent;
    height: 24px;
    line-height: 22px;
    margin: 1px;
    padding-right: 7px;
    outline: none;
}

    .toolbar button:hover {
        background-color: #fff !important;
        border-color: #0071c1;
    }

.icon {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 0;
}

    .icon.icon-add {
        background-image: url('/content/img/images/iconsprite.png');
        background-position-y: -2512px;
    }

    .icon.icon-edit {
        background-image: url('/content/img/images/edit16.png');
        background-position: center;
        background-size: 18px;
    }

    .icon.icon-delete {
        background-image: url('/content/img/images/iconsprite.png');
        background-size: 19px;
        background-position-y: -3181px;
        margin-top: -2px;
    }

    .icon.icon-feedback {
        background-image: url('/content/img/images/viewemail.png');
        height: 15px;
        width: 15px;
    }
    .icon.icon-save {
        background-image: url('/content/img/images/iconsprite.png');
        height: 17px;
        background-position-y: -767px;
    }
    .icon.icon-cancel {
        background-image: url('/content/img/images/iconsprite.png');
        height: 17px;
        background-position-y: -1951px;
    }
    .grid {
        height: calc(100% - 52px);
        overflow: auto;
    }
.grid > table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

    .grid > table th, td {
        border: 1px solid #ccc;
        padding: 4px 8px;
        /*text-align: center;*/
    }

    .grid > table th {
        background-color: rgb(239, 239, 239);
        border-top: none;
    }

    .grid > table tr th:first-child, td:first-child {
        border-left: none;
        padding: 6px;
    }
    .grid > table thead tr:first-child th {
        border-bottom: none;
    }
    .grid > table thead tr:last-child th {
        padding: 1px;
    }
        .grid > table tr th:last-child, td:last-child {
            border-right: none;
        }

    .grid > table tbody tr:nth-child(even) {
        background-color: rgb(239, 239, 239);
    }

.grid > table tbody tr:hover {
    background-color: #b8e3ff !important;
    cursor: pointer;
}
    
.main .header {
    display: flex;
}

.row-selected {
    background-color: #b8e3ff !important;
}
.filter {
    display: flex;
}
th p {
    margin-block-start: .2em;
    margin-block-end: .5em;
}
.filter button, input {
    border: 1px solid #ccc;
    outline: none;
    padding: 4px;
}
.filter button {
    width: 30px;
    height: 25px;
    line-height: 22px;
    background-color: #fff;
    border-right: none;
}
.filter input{
    width: 90%;
}

/*Paging*/

.paging {
    width: 100%;
    height: 26px;
    border-top: 1px solid #ccc;
    display: flex;
}
.paging .left-paging{
    width: 50%;
    height: 100%;
}
.left-paging ul {
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
}
.left-paging ul li{
    list-style-type: none;
    line-height: 23px;
    padding: 0 5px;
}
    .left-paging ul li span {
        color: #ccc;
        margin-top: -5px;
    }
    .left-paging ul li input {
        width: 25px;
        height: 12px;
        margin-top: -3px;
    }
    .left-paging ul li select {
        outline: none;
        height: 22px;
        width: 45px;
        margin-top: -2px;
        border: 1px solid #ccc;
    }
    .left-paging ul li button {
        width: 26px;
        height: 26px;
        border: none;
        outline: none;
    }
.btn-page {
    background: none;
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-size: 16px;
}
.btn-page-first {
    background-image: url('/content/img/images/grid/page-first.png');
}
.btn-page-last {
    background-image: url('/content/img/images/grid/page-last.png');
}
.btn-page-prev {
    background-image: url('/content/img/images/grid/page-prev.png');
}
.btn-page-next {
    margin-left: 10px;
    background-image: url('/content/img/images/grid/page-next.png');
}
.btn-page-refresh {
    background-image: url('/content/img/images/grid/refresh.png');
}

.right-paging{
    width: 50%;
    height: 100%;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
/*Eng paging*/
/*End body content*/
/*Left header*/
.header .left-header {
    height: 100%;
    width: 45%;
    background-color: #0973b9;
    justify-content: left !important;
}
    /*End left header*/

    /*Right header*/
    .header .left-header select {
        margin-left: 3%;
    }

.header select {
    width: 190px;
    height: 32px;
    padding-left: 10px;
    background-color: #005082 !important;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

    .header select option {
        background-color: #fff;
        color: #000;
    }

.header .right-header {
    display: flex;
    height: 100%;
    width: 55%;
}

.right-header ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.right-header ul li:last-child select {
    background-color: #0973b9 !important;
    font-size: 15px;
    width: 150px;
    padding-left: 2px !important;
}

.right-header ul li {
    list-style-type: none;
    padding: 0 10px;
}

li .misa-logo {
    width: 122.5px;
    height: 100%;
}

li .profile {
    background-color: #fafafa;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right-header-notifications {
    position: relative;
}

.badge {
    position: absolute;
    top: 11px;
    right: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    cursor: pointer;
    text-align: center;
}
/*End right header*/

/*Diglog*/
.dialog-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808080;
    opacity: .4;
    display: none;
}

.dialog {
    width: 800px;
    height: 450px;
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 400px);
    z-index: 1000;
    background-color: #0973b9;
    border: 3px solid #0973b9;
    border-radius: 5px;
    display: none;
}

    .dialog .dialog-title {
        width: 100%;
        height: 25px;
        background-color: #0973b9;
        color: #fff;
        width: 100%;
        line-height: 25px;
    }

    .dialog .dialog-title-cancel {
        position: absolute;
        top: 2px;
        right: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        background-image: url('/content/img/images/cancel.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .dialog .dialog-body {
        width: calc(100% - 20px);
        height: calc(100% - 85px);
        padding: 10px;
        background-color: #fff;
    }
    .dialog table{
        width: 100%;
    }
#form-data tbody td {
    border: none;
    padding: 4px;
}
#form-data input:focus, textarea:focus{
    border: 1px solid #0973b9;
}
.error {
    border: 1px solid #ff0000 !important;
}
/*.valid {
    border: 1px solid green !important;
}*/
/*.dialog-body .row {
    margin-bottom: 8px;
}*/
.dialog input, textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
    outline: none;
    margin-left: -20px;
    resize: vertical;
}

/*.row label {
    display: block;
}*/

.row input:focus {
    border: 1px solid #0973b9;
}

.dialog .dialog-footer {
    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dialog-footer button {
    width: 75px;
    padding: 4px;
    outline: none;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.dialog-footer button:hover {
    border: 1px solid #0973b9;
}

#btn-save {
}

#btn-cancel {

}
/*End dialog*/
