body {
    font-family: tahoma_regular;
    margin: 0;
    font-size: 13px;
}
@font-face {
    font-family: 'fontello';
    src: url('/content/fonts/fonts/fontello.woff') format('woff');
}
@font-face {
    font-family: 'tahoma_bold';
    src: url('/content/fonts/fonts/tahoma_bold.woff') format('woff');
}
@font-face {
    font-family: 'tahoma_regular';
    src: url('/content/fonts/fonts/tahoma_regular.woff') format('woff');
}
.sidebar {
    width: 200px; 
    height: 100vh;
    background-color: #0973b9;
    float: left;
}
.sidebar .logo{
    width: 100%;
    height: 50px;
    display: flex;
}
    .sidebar .menu {
        width: 100%;
        height: calc(100% - 50px);
        overflow: auto;
    }
.logo .icon-left-header {
    width: 25px;
    height: 50px;
    background-image: url('/content/img/images/icon-left-header.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 14px;
    padding-left: 10px;
}
.logo .logo-text {
    width: calc(100% - 25px);
    height: 50px;
    background-image: url('/content/img/images/logo-text.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/* Menu */
.menu .menu-item {
    border-bottom: 1px solid #0865a2;
    border-top: 1px solid #1b8bd4;
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}
.menu .menu-item:hover{
    background-color: #ff6a00;
}
.menu .menu-item-icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    align-self: center;
    margin-left: 10px;
}
.menu .menu-item-text {
    color: #ffffff;
    line-height: 40px;
    margin-left: 8px;
}

.icon-dashboard {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: 0;
}
.icon-report {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -191px;
}
.icon-cart {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -375px;
}
.icon-inventory {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -38px;
}
.icon-category {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -155px;
}
.icon-cash {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -78px;
}
.icon-deposit {
    background-image: url('/content/img/images/icon-deposit.png');
}
.icon-cost {
    background-image: url('/content/img/images/icon-cost.png'); 
}
.icon-promotion {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -117px;
}
.icon-menu {
    background-image: url('/content/img/images/ic_hoadon.png');
}
.icon-system-setting {
    background-image: url('/content/img/images/iconmenu.png');
    background-position-y: -232px;
}
.icon-help {
    background-image: url('/content/img/images/iconhelp.png');
}
.icon-subscriber {
    background-image: url('/content/img/images/icon-subscriber.png');
}
